.container {
    display: flex;
    min-height: 100vh;
    background-color: #102976; /* Azul principal */
    color: #ffffff;
}

.formSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    padding: 2rem; /* Espaçamento interno */
    background-color: #1e3a8a; /* Azul principal */
    color: #ffffff; /* Texto branco */
    text-align: center; /* Centraliza o texto */
}

.logo {
    margin-bottom: 2rem;
    text-align: left; /* Alinha à esquerda */
}

.title {
    font-size: 30px; /* Tamanho da fonte */
    font-weight: 700; /* Peso da fonte */
    line-height: 100%; /* Altura da linha */
    letter-spacing: 0%; /* Espaçamento entre letras */
    font-family: 'Quicksand', sans-serif; /* Fonte Quicksand */
    margin-bottom: 1.5rem; /* Espaçamento inferior */
    text-align: left; /* Alinha o texto à esquerda */
    max-width: 500px; /* Limita a largura máxima do título */
    word-wrap: break-word; /* Quebra de linha para palavras longas */
}

.imageSection {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Move a imagem mais para a direita */
    position: relative; /* Necessário para o uso de `object-fit` */
    overflow: hidden;
    padding-right: 2rem; /* Adiciona espaçamento à direita */
}

.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Garante que a imagem ocupe todo o espaço disponível */
}